* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    border-bottom: 1px solid rgb(36, 36, 33);
    
}
h1 {
    color: rgb(45, 41, 41);
    font-size: 30px;
    font-family: "Playfair Display";
}
ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
