* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    border-bottom: 1px solid rgb(36, 36, 33);
    
}
h1 {
    color: rgb(45, 41, 41);
    font-size: 30px;
    font-family: "Playfair Display";
}
ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
#home {
    display: flex;
    padding: 10px;
}
.container {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 2fr 1fr; /* Two columns: first wider, second narrower */
    grid-template-rows: repeat(3, auto); /* Three rows */
    grid-gap: 10px; /* Gap between the images */
    max-width: 1000px; /* Makes the container smaller */
    margin: auto; /* Centers the container */
}

.img1 {
    height: 1010px;
    grid-column: 1 / 2; /* Occupies the first column */
    grid-row: 1 / 4; /* Spans three rows */
}

.img2 {
    grid-column: 2 / 3; /* Occupies the second column */
    grid-row: 1 / 2; /* First row */
}

.img3 {
    grid-column: 2 / 3; /* Occupies the second column */
    grid-row: 2 / 3; /* Second row */
}

.img4 {
    grid-column: 2 / 3; /* Occupies the second column */
    grid-row: 3 / 4; /* Third row */
}

img {
    width: 100%; /* Ensures images fit the grid area */
    height: auto;
}
