* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    border-bottom: 1px solid rgb(36, 36, 33);
    
}
h1 {
    color: rgb(45, 41, 41);
    font-size: 30px;
    font-family: "Playfair Display";
}
ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}
#home {
    display: flex;
    padding: 10px;
}
.container {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 2fr 1fr; /* Two columns: first wider, second narrower */
    grid-template-rows: repeat(3, auto); /* Three rows */
    grid-gap: 10px; /* Gap between the images */
    max-width: 1000px; /* Makes the container smaller */
    margin: auto; /* Centers the container */
}

.img1 {
    height: 1010px;
    grid-column: 1 / 2; /* Occupies the first column */
    grid-row: 1 / 4; /* Spans three rows */
}

.img2 {
    grid-column: 2 / 3; /* Occupies the second column */
    grid-row: 1 / 2; /* First row */
}

.img3 {
    grid-column: 2 / 3; /* Occupies the second column */
    grid-row: 2 / 3; /* Second row */
}

.img4 {
    grid-column: 2 / 3; /* Occupies the second column */
    grid-row: 3 / 4; /* Third row */
}

img {
    width: 100%; /* Ensures images fit the grid area */
    height: auto;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

h2, h3 {
    padding: 20px;
    font-style: italic;
}
.info-text, .info-text2 {
    padding: 10px;
    font-size: 18px;
    display: flex;
    width: 800px;
    height: 100px;
    text-align: center;
    align-items: center;
}

.video {
    display: flex;
    justify-content: center;
}
blockquote {
    width: 560;
    height: 315;
}
#contact p {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    font-weight: 500;
}

#contact .social-medias {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
}
#contact .social-media {
    text-decoration: none;
    transition: transform 0.2s ease-in;
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 25px;
    font-style: italic;
}
#contact .social-media:hover {
    transform: translateX(10px);
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 50px !important;
    padding: 10px;
    background-color: rgb(60, 56, 56);
    color: rgb(215, 206, 206);
}